.footer {
  background-color: #2563eb;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.center a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.center a:hover {
  text-decoration: underline;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #4c35f9;
}

.copyright {
  margin: 0;
  font-size: 14px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .left,
  .center,
  .right {
    justify-content: center;
  }
}
