/* Couleurs mode clair */
.textLight {
    color: #1a1a1a;
  }
  
  /* Couleurs mode sombre */
  .textDark {
    color: #f9f9f9;
  }
  
  /* Bouton actif pour l’onglet */
  .tabButtonActive {
    background-color: #2563eb; /* bleu */
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Timeline */
  .timeline {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .timelineLine {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #ccc;
    transform: translateX(-50%);
  }
  
  .timelineItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  
  .timelineItemReverse {
    flex-direction: row-reverse;
  }
  
  .timelineItemDot {
    width: 16px;
    height: 16px;
    background-color: #000000; /* bleu */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border: 3px solid white;
  }
  