/* MenuItem.module.css */

.menuItem {
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .menuItem a {
	text-decoration: none;
	color: inherit;
  }
  
  .menuItem:hover {
	background-color: rgba(0, 0, 0, 0.1);
  }
  
  .active {
	background-color: #4c35f9; /* Exemple de couleur de fond pour l'élément actif */
	color: white; /* Couleur du texte de l'élément actif */
  }
  