/* filepath: c:\Users\User\Desktop\Nouveau dossier\Mise a jour\portfolio\src\components\myheader\Myheader.module.css */
.Myheader {
	
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .homeHeader {
	background-color: transparent;
	box-shadow: none;
  }
  
  .scrolledHeader {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }